<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Libros | Editar</title>
    <script type="text/javascript" src="./../src/js/bulma.js"></script>
    <link rel="stylesheet" href="./../src/css/style.css" />
  </head>
  <body>
    <header id="header">
      <nav class="navbar mb-3" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img
              src="https://bulma.io/images/bulma-logo.png"
              width="112"
              height="28"
              alt="brand image"
            />
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <a href="./libroIndex.html" class="navbar-item"> Libros </a>
            <a href="./autorIndex.html" class="navbar-item"> Autores </a>
            <a href="./editorialIndex.html" class="navbar-item">
              Editoriales
            </a>
            <a href="./generoIndex.html" class="navbar-item"> Generos </a>
            <a href="./favoritos.html" class="navbar-item"> Favoritos </a>
          </div>
        </div>
      </nav>
    </header>
    <div class="container is-max-desktop">
      <!-- !breadcrumb -->
      <!-- <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Bulma</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Components</a></li>
          <li class="is-active">
            <a href="#" aria-current="page">Breadcrumb</a>
          </li>
        </ul>
      </nav> -->
      <div
        class="
          is-flex is-align-content-space-around is-justify-content-space-between
        "
      >
        <p class="title is-4 my-3">Editar libro</p>
        <div class="actions">
          <button
            type="submit"
            form="form"
            class="button is-primary is-outlined is-small"
          >
            Guardar
          </button>
        </div>
      </div>
      <div class="notification is-primary is-hidden" id="msg-success"></div>
      <div class="notification is-warning is-hidden" id="msg-warning"></div>
      <div class="box" id="form-box ">
        <form method="post" onsubmit="handleSubmit(event);" id="form">
          <input type="hidden" name="id_libro" id="id_libro" value="">
          <div class="field">
            <label class="label" for="titulo">Titulo</label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="titulo"
                id="titulo"
                placeholder="Harry Potter"
              />
            </div>
          </div>

          <div class="field">
            <label class="label" for="fecha_publicacion"
              >Fecha de publicación</label
            >
            <div class="control">
              <input
                class="input"
                type="date"
                name="fecha_publicacion"
                id="fecha_publicacion"
                placeholder="dd/mm/aaaa"
                value=""
              />
            </div>
            <p class="help is-success"></p>
          </div>
          <div class="field">
            <label class="label" for="numero_paginas">Número de páginas</label>
            <div class="control">
              <input
                class="input"
                type="number"
                name="numero_paginas"
                id="numero_paginas"
                placeholder="100"
                value=""
              />
            </div>
            <p class="help is-success"></p>
          </div>

          <div class="field">
            <label class="label" for="formato">Formato</label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="formato"
                id="formato"
                placeholder="Digital"
                value=""
              />
            </div>
            <p class="help is-danger"></p>
          </div>

          <div class="field">
            <label class="label">Autor</label>
            <div class="control">
              <div class="select">
                <select title="autor" name="autor" id="sel_autor">
                  <option>Selecciona un autor</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Editorial</label>
            <div class="control">
              <div class="select">
                <select title="editorial" name="editorial" id="sel_editorial">
                  <option>Selecciona una editorial</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Genero</label>
            <div class="control">
              <div class="select">
                <select title="genero" name="genero" id="sel_genero">
                  <option>Selecciona un genero</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script async type="text/javascript">
      // LEER PARAMETRO GET DE LA URL
      function getParameters() {
        var prmstr = window.location.search.substr(1);
        return prmstr != null && prmstr != ""
          ? transformToAssocArray(prmstr)
          : {};
      }

      function transformToAssocArray(prmstr) {
        var params = {};
        var prmarr = prmstr.split("&");
        for (var i = 0; i < prmarr.length; i++) {
          var tmparr = prmarr[i].split("=");
          params[tmparr[0]] = tmparr[1];
        }
        return params;
      }

      function getLibro() {
        let req = new XMLHttpRequest();
        var params = getParameters();
        let id_libro = params.libro;
        req.open("GET", "http://127.0.0.1:5000/obtenerLibro/" + id_libro);
        req.onload = function () {
          let arrayBuffer = JSON.parse(req.response);
          console.log(arrayBuffer);
          setValues(arrayBuffer, id_libro);
        };
        req.send();
      };

      function setValues(arr, id_libro) {
        id_libro = document.querySelector("#id_libro").value = id_libro;
        titulo = document.querySelector("#titulo").value = arr.titulo;
        fecha_publicacion = document.querySelector("#fecha_publicacion").value =
          arr.fecha_publicacion;
        numero_paginas = document.querySelector("#numero_paginas").value =
          arr.numero_paginas;
        formato = document.querySelector("#formato").value = arr.formato;
        sel_genero = document.querySelector("#sel_genero").value =
          arr.id_genero;
        sel_autor = document.querySelector("#sel_autor").value = arr.id_autor;
        sel_editorial = document.querySelector("#sel_editorial").value =
          arr.id_editorial;
      }
      
      (() => {
        let req = new XMLHttpRequest();

        req.open("GET", "http://127.0.0.1:5000/consulta");

        req.onload = function () {
          let arrayBuffer = JSON.parse(req.response);

          // * arrays
          editoriales = arrayBuffer.editoriales;
          autores = arrayBuffer.autores;
          generos = arrayBuffer.generos;

          // * Selects
          selGeneros = document.querySelector("#sel_genero");
          selAutores = document.querySelector("#sel_autor");
          selEditoriales = document.querySelector("#sel_editorial");

          // * Pasar al frontend los datos recibidos en json
          printSelects(generos, selGeneros);
          printSelects(autores, selAutores);
          printSelects(editoriales, selEditoriales);

          // Obtener el libro una vez que se tienen los select para poder asignar su valor
          getLibro();
          // * Función para generar los elementos option
          function printSelects(obj, sel) {
            Object.values(obj).forEach((element) => {
              let option = document.createElement("option");
              option.value = element.id;
              option.innerHTML = element.nombre;
              sel.appendChild(option);
            });
          }
        };
        req.send(null);
      })();

      function handleSubmit(event) {
        event.preventDefault();
        let formData = new FormData(event.target);
        let object = {};
        formData.forEach(function (value, key) {
          object[key] = value;
        });
        console.log("object here", object);

        async function send() {
          console.log("send");
          let req = new XMLHttpRequest();
          console.log(req);
          req.open("PATCH", "http://127.0.0.1:5000/actualizarLibro");
          req.setRequestHeader("Content-Type", "application/json");
          req.onload = function () {
            console.log("onload");
            let arrayBuffer = JSON.parse(req.response);
            let success = document.querySelector("#msg-success");
            let warning = document.querySelector("#msg-warning");
            if (req.status === 200) {
              //* SUCCESS
              success.innerHTML = arrayBuffer.message;
              success.classList.remove("is-hidden");
              warning.innerHTML = "";
              warning.classList.add("is-hidden");
              setTimeout(function () {
                window.location.assign("libroIndex.html");
              }, 2000);
            } else {
              warning.innerHTML = arrayBuffer.message;
              warning.classList.remove("is-hidden");
              success.innerHTML = "";
              success.classList.add("is-hidden");
            }
          };
          req.send(JSON.stringify(object));
        }
        send();
      }
    </script>
  </body>
</html>
